body{
    background-color: #141414;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    margin-left: 0;
    margin-top: 2vw;
}
.navbar{
    position: fixed;
    top: 13vw;
    display: flex;
    flex-direction: column;
    gap:2vw;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding:50px 10px;
    width:fit-content;
    height: auto;
}
.navbar:hover{
    box-shadow:  5px 0 10px rgba(93, 93, 93, 0.3);
}
button{
    background: transparent;
    border: transparent ;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.banner{
    width:95%;
    height:30vw;
    margin:auto;
    margin-top: 2vw;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    background-image: url(./src/salaar_banner.jpg);
    background-size: cover;
    box-shadow: 0 0 50px rgba(93, 93, 93, 0.3);
}
.banner:hover{
    transform: scale(1.03);
    box-shadow: 0 0 50px rgba(243, 80, 80, 0.3);
    cursor:pointer;
}
.moviescontainer{
    position:relative;
}
.moviescontainer h2{
    margin-left: 70px;
}
.row{
    margin:20px;
    margin-left: 60px;
    display:flex;
    gap:25px;
    overflow-x:auto;
    overflow-y: visible;
    padding: 1.5vw; 
}

.row::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.card{
    height:20vw;
    width:13vw;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex: 0 0 auto;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(243, 80, 80, 0.3);
    cursor:pointer;
    border-radius: 10px;
}

.scrollbutton{
    visibility:hidden;
    position:absolute;
    top:50%;
    width: 40px;   
    height: 80px;  
    background: rgba(0,0,0,0.7);
    border-radius: 7px;
    z-index: 5;
}
.moviescontainer:hover .scrollbutton{
    visibility: visible;
}
.left{
    left:3vw;
}
.right{
    right:2.5vw;
}