body{
    background-color: #141414;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-left: 0;
    margin-top: 2vw;
}
.navbar{
    position: fixed;
    top: 25vh;
    display: flex;
    flex-direction: column;
    gap:2vw;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding:50px 10px;
    width:fit-content;
    height: auto;
}
.navbar:hover{
    box-shadow:  5px 0 10px rgba(93, 93, 93, 0.3);
}
button{
    background: transparent;
    border: transparent ;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.banner{
    width:95%;
    height:30vw;
    margin:auto;
    margin-top: 2vw;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    background-image: url(./src/salaar_banner.jpg);
    background-size: cover;
    box-shadow: 0 0 50px rgba(93, 93, 93, 0.3);
}
.banner:hover{
    transform: scale(1.03);
    box-shadow: 0 0 50px rgba(243, 80, 80, 0.3);
    cursor:pointer;
}
.moviescontainer{
    position:relative;
}
.moviescontainer h2{
    margin-left: 70px;
}
.searchbar{
    width: 30vw;
    height:6vh;
    margin-top: 2vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid transparent;
    margin-left: auto;
    margin-right: 5vw;
}
.searchbar:focus-within{
    border:3px solid rgb(59, 59, 59);
}
.searchbar:hover{
    border:3px solid rgb(59, 59, 59);
}
#searchinput{
    background-color: transparent;
    border: transparent;
    width: 75%;
    height: 90%;
    color:rgba(255, 255, 255, 0.819);
    font-size:1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
#searchinput:focus{
    background-color: transparent;
    outline: none;
    border:none;
}
#searchicon{
    margin-left: 3vw;
}
.viewAllButton{
    text-decoration: none;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    padding:1vh;
    top: -1vh;
    right:2vw;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.819);
}
.viewAllButton:hover{
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    padding:1vh;
}
.row{
    margin:20px;
    margin-left: 60px;
    display:flex;
    gap:25px;
    overflow-x:auto;
    overflow-y: visible;
    padding: 1.5vw; 
}

.row::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.card{
    height:20vw;
    width:13vw;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex: 0 0 auto;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(243, 80, 80, 0.3);
    cursor:pointer;
    border-radius: 10px;
}

.scrollbutton{
    visibility:hidden;
    position:absolute;
    top:50%;
    width: 40px;   
    height: 80px;  
    background: rgba(0,0,0,0.7);
    border-radius: 7px;
    z-index: 5;
}
.moviescontainer:hover .scrollbutton{
    visibility: visible;
}
.left{
    left:3vw;
}
.right{
    right:2.5vw;
}

