body{
    background-color: #141414;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    margin-left: 0;
    margin-top: 2vw;
}
button{
    background: transparent;
    border: transparent ;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.banner{
    width:96%;
    height:70vh;
    margin: auto;
    margin-top: 2vw;
    background-color: white;
    border-radius: 0.75vw;
    position: relative;
}
.banner:hover{
    transform: scale(1.03);
    box-shadow: 0 0 50px rgba(243, 80, 80, 0.3);
    cursor:pointer;
}
.poster{
    height:50vh;
    width:20vw;
    position:absolute;
    margin-top: 10vh;
    margin-left:2vw;
    background-color: rgb(138, 138, 138);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex: 0 0 auto;
}
h2{
    color:rgb(29, 29, 29);
    position: absolute;
    margin-left: 25vw;
    margin-top:10.5vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
}
h3{
    color:rgb(29, 29, 29);
    position: absolute;
    margin-left: 25vw;
    margin-top: 38vh;
    font-size: 2.5vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Description{
    color:rgb(29,29,29);
    position: absolute;
    margin-left:28vw;
    margin-top: 42vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}