body{
    background-color: #141414;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    margin-left: 0;
    margin-top: 2vw;
}
button{
    background: transparent;
    border: transparent ;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.banner{
    width:96%;
    height:70vh;
    margin: auto;
    margin-top: 2vw;
    background-color: #141414;
    border-radius: 0.75vw;
    position: relative;
    background-image:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.85) 0%,
            rgba(0,0,0,0.85) 100%
        ),
        var(--banner-image);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}

.banner:hover{
    transform: scale(1.03);
    box-shadow: 0 0 50px rgba(243, 80, 80, 0.3);
    cursor:pointer;
}
.poster{
    height:50vh;
    width:20vw;
    position:absolute;
    margin-top: 10vh;
    margin-left:2vw;
    background-color: rgb(138, 138, 138);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex: 0 0 auto;
}
.Title{
    color:rgb(255, 255, 255);
    position: absolute;
    margin-left: 25vw;
    margin-top:10.5vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    z-index: 2;
}
.Tagline
{
    color:rgba(198, 198, 198, 0.85);
    position: absolute;
    margin-left: 26vw;
    margin-top:18.5vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    z-index: 2;
}
.genres
{
    color:rgba(198, 198, 198, 0.85);
    position: absolute;
    margin-left: 26vw;
    margin-top:var(--genres-top,24vh);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    z-index: 2;
}
.Overview{
    color:rgb(235, 235, 235);
    position: absolute;
    margin-left: 25vw;
    margin-top: 38vh;
    font-size: 2vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 2;
}
.Description{
    color:rgb(209, 209, 209);
    position: absolute;
    margin-left:26vw;
    margin-top: 45vh;
    font-size: 1.2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 2;
}