body{
    background-color: #141414;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    height:20vw;
    width:13vw;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex: 0 0 auto;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(243, 80, 80, 0.3);
    cursor:pointer;
    border-radius: 10px;
}
body{
    background-color: #141414;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    margin-left: 0;
    margin-top: 2vw;
}
button{
    background: transparent;
    border: transparent ;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.display{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap:2.4vw;
    height: 100%;
    width:auto;
    margin:5vh;
}